{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="col-md-6 offset-md-3 row">
    {{ form_start(form, { 'attr': {'class': 'col-12 row'} }) }}
    <div class="col">
        <div class="row mb-3">
            <div class="col-6">
                <label for="inputEmail">Email :</label>
            </div>
            <div class="col-6">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>

    {{ form_end(form) }}
</div>

{#

    <form action="{{ path('forgot_password') }}" method="post" class="col">
    <div class="col">
    <div class="col">
    <div class="row mb-3">
    <div class="col-6">
    <label for="inputEmail">Email :</label>
    </div>
    <div class="col-6">
    <input type="email" id="inputEmail" class="form-control">
    </div>
    </div>
    </div>
    </div>
    <div class="col">
    <div class="row mb-3">
    <div class="col-6">
    <div class="input-field col s12 ">
    <input style="width: 100%" type="submit" class="btn btn-lg btn-primary" value="M'envoyer le lien">
    </div>
    </div>
    </div>
    </div>
    </form>
    </div>
#}
{% endblock %}
