{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="text-center mb-5"><h2>Annuler une sortie</h2></div>
        <div class="row col mb-5">
            <div class="col-md-6 offset-md-3 ">
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Nom de la sortie : </div>
                        <div class="col-6">sortie.nom</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Date de la sortie : </div>
                        <div class="col-6">sortie.date_sortie</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Ville organisatrice : </div>
                        <div class="col-6">sortie.ville.nom</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Lieu : </div>
                        <div class="col-6">sortie.lieu.rue sortie.lieu.code_postal</div>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-6">Motif : </div>
                        <div class="col-6"><textarea style="width: 100%"></textarea> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 row">
        <div class="col text-center"><button class="btn btn-primary btn-lg btn-success">Enregistrer</button></div>
        <div class="col text-center"><button class="btn btn-primary btn-lg btn-danger">Annuler</button></div>
    </div>
{% endblock %}
