{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="col-md-3 ml-md-auto mb-4">
        <strong>Date du jour XX/XX/XXX</strong>
        <strong>Participant(e) : Monsieur X</strong>
    </div>
    <div class="row">
        <div class="col-6" style="overflow: auto">
            <strong>Filtrer les sorties</strong>
            <div>
                <div class="row mb-3" style="white-space: nowrap;">
                    <div class="col">Site : </div>
                    <div class="col">Dropdownlist</div>
                </div>
                <div class="row mb-3" style="white-space: nowrap;">
                    <div class="col">Le nom de la sortie contient : </div>
                    <div class="col">input</div>
                </div>
                <div class="row col" style="white-space: nowrap;">
                    <div class="col row">
                        <p class="mr-2">Entre : </p>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                    </div>
                    <div class="col row">
                    <p class="ml-3 mr-3"> et </p>
                        <input type="date" id="start" name="trip-end"
                               value="2018-07-22"
                               min="2018-01-01" max="2018-12-31">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="overflow: auto">
            <div class="">
                <nobr>
                    <input type="checkbox" id="orga" name="orga">
                    <label for="orga">Sorties dont je suis l'organisateur/trice</label>
                </nobr>
            </div>
            <div class="">
                <nobr>
                    <input type="checkbox" id="inscrit" name="inscrit">
                    <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                </nobr>
            </div>
            <div style="">
                <nobr>
                    <input type="checkbox" id="noninscrit" name="noninscrit">
                    <label for="noninscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </nobr>
            </div>
            <div class="">
                <nobr>
                    <input type="checkbox" id="sortiesPasse" name="sortiesPasse">
                    <label for="sortiesPasse">Sorties passées</label>
                </nobr>
            </div>
        </div>
        <div class="col-2">
            <button class="button btn-primary btn-lg mt-4">Rechercher</button>
        </div>
    </div>
    <div id="dtTable">

    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-2">
            <button class="button btn-primary btn-lg mt-4">Créer une sortie </button>
        </div>
    {% endif %}
</div>
{% endblock %}
