{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="text-center">Gérer les villes</div>
        <div class="col">
            <strong>Filtrer les villes</strong>

            <div class="col row">
                <p class="mr-3">Le nom contient : </p>
                <input type="text" class="form-control" style="width: 25%" id="search">
                <button class="btn btn-primary">Rechercher</button>
        </div>

        </div>
    </div>

{% endblock %}
